# External Lab 

Here each question is of 1 mark.

# Multiple Linear Regression

## Problem Statement

Use Multiple Linear Regression to **predict the consumption of petrol** given relevant variables are the petrol tax, the per capita, income, the number of miles of paved highway, and the proportion of the population with driver's licenses.

## Dataset

There are 48 rows of data.  The data include:

      I,  the index;
      A1, the petrol tax;
      A2, the per capita income;
      A3, the number of miles of paved highway;
      A4, the proportion of drivers;
      B,  the consumption of petrol.

### Reference 

    Helmut Spaeth,
    Mathematical Algorithms for Linear Regression,
    Academic Press, 1991,
    ISBN 0-12-656460-4.

    S Weisberg,
    Applied Linear Regression,
    New York, 1980, pages 32-33.

## Question 1 - Exploratory Data Analysis

*Read the dataset given in file named **'petrol.csv'**. Check the statistical details of the dataset.*

**Hint:** You can use **df.describe()**

In [1]:
import pandas as pd
import numpy as np

In [2]:
petrcons = pd.read_csv("petrol_new.csv")
petrcons

      tax  income  highway     dl  consumption
0    9.00    3571     1976  0.525          541
1    9.00    4092     1250  0.572          524
2    9.00    3865     1586  0.580          561
3    7.50    4870     2351  0.529          414
4    8.00    4399      431  0.544          410
5   10.00    5342     1333  0.571          457
6    8.00    5319    11868  0.451          344
7    8.00    5126     2138  0.553          467
8    8.00    4447     8577  0.529          464
9    7.00    4512     8507  0.552          498
10   8.00    4391     5939  0.530          580
11   7.50    5126    14186  0.525          471
12   7.00    4817     6930  0.574          525
13   7.00    4207     6580  0.545          508
14   7.00    4332     8159  0.608          566
15   7.00    4318    10340  0.586          635
16   7.00    4206     8508  0.572          603
17   7.00    3718     4725  0.540          714
18   7.00    4716     5915  0.724          865
19   8.50    4341     6010  0.677          640
20   7.00    4593     7834  0.663          649
21   8.00    4983      602  0.602          540
22   9.00    4897     2449  0.511          464
23   9.00    4258     4686  0.517          547
24   8.50    4574     2619  0.551          460
25   9.00    3721     4746  0.544          566
26   8.00    3448     5399  0.548          577
27   7.50    3846     9061  0.579          631
28   8.00    4188     5975  0.563          574
29   9.00    3601     4650  0.493          534
30   7.00    3640     6905  0.518          571
31   7.00    3333     6594  0.513          554
32   8.00    3063     6524  0.578          577
33   7.50    3357     4121  0.547          628
34   8.00    3528     3495  0.487          487
35   6.58    3802     7834  0.629          644
36   5.00    4045    17782  0.566          640
37   7.00    3897     6385  0.586          704
38   8.50    3635     3274  0.663          648
39   7.00    4345     3905  0.672          968
40   7.00    4449     4639  0.626          587
41   7.00    3656     3985  0.563          699
42   7.00    4300     3635  0.603          632
43   7.00    3745     2611  0.508          591
44   6.00    5215     2302  0.672          782
45   9.00    4476     3942  0.571          510
46   7.00    4296     4083  0.623          610
47   7.00    5002     9794  0.593          524

In [3]:
petrcons.shape

(48, 5)

# Question 2 - Cap outliers 

Find the outliers and cap them. (Use (Q1 - 1.5 * IQR) as the minimum cap and (Q3 + 1.5 * IQR) as the max cap. The decision criteria is you should consider the datapoints which only falls within this range. The data points which fall outside this range are outliers and the entire row needs to be removed

In [4]:
petrcons.describe().T

,count,mean,std,min,25%,50%,75%,max
tax,48.0,7.668333,0.950770,5.000,7.00000,7.5000,8.12500,10.000
income,48.0,4241.833333,573.623768,3063.000,3739.00000,4298.0000,4578.75000,5342.000
highway,48.0,5565.416667,3491.507166,431.000,3110.25000,4735.5000,7156.00000,17782.000
dl,48.0,0.570333,0.055470,0.451,0.52975,0.5645,0.59525,0.724
consumption,48.0,576.770833,111.885816,344.000,509.50000,568.5000,632.75000,968.000

In [5]:
a = petrcons.quantile(0.25)
b = petrcons.quantile(0.75)

IQR = b-a
petrcons_noout = petrcons[~((petrcons < (a - 1.5 * IQR)) |(petrcons > (b + 1.5 * IQR))).any(axis=1)]

petrcons_noout

     tax  income  highway     dl  consumption
0   9.00    3571     1976  0.525          541
1   9.00    4092     1250  0.572          524
2   9.00    3865     1586  0.580          561
3   7.50    4870     2351  0.529          414
4   8.00    4399      431  0.544          410
6   8.00    5319    11868  0.451          344
7   8.00    5126     2138  0.553          467
8   8.00    4447     8577  0.529          464
9   7.00    4512     8507  0.552          498
10  8.00    4391     5939  0.530          580
12  7.00    4817     6930  0.574          525
13  7.00    4207     6580  0.545          508
14  7.00    4332     8159  0.608          566
15  7.00    4318    10340  0.586          635
16  7.00    4206     8508  0.572          603
17  7.00    3718     4725  0.540          714
19  8.50    4341     6010  0.677          640
20  7.00    4593     7834  0.663          649
21  8.00    4983      602  0.602          540
22  9.00    4897     2449  0.511          464
23  9.00    4258     4686  0.517          547
24  8.50    4574     2619  0.551          460
25  9.00    3721     4746  0.544          566
26  8.00    3448     5399  0.548          577
27  7.50    3846     9061  0.579          631
28  8.00    4188     5975  0.563          574
29  9.00    3601     4650  0.493          534
30  7.00    3640     6905  0.518          571
31  7.00    3333     6594  0.513          554
32  8.00    3063     6524  0.578          577
33  7.50    3357     4121  0.547          628
34  8.00    3528     3495  0.487          487
35  6.58    3802     7834  0.629          644
37  7.00    3897     6385  0.586          704
38  8.50    3635     3274  0.663          648
40  7.00    4449     4639  0.626          587
41  7.00    3656     3985  0.563          699
42  7.00    4300     3635  0.603          632
43  7.00    3745     2611  0.508          591
44  6.00    5215     2302  0.672          782
45  9.00    4476     3942  0.571          510
46  7.00    4296     4083  0.623          610
47  7.00    5002     9794  0.593          524

In [6]:
petrcons_noout.shape

(43, 5)

In [7]:
petrcons_out = petrcons[((petrcons < (a - 1.5 * IQR)) |(petrcons > (b + 1.5 * IQR))).any(axis=1)]
petrcons_out

     tax  income  highway     dl  consumption
5   10.0    5342     1333  0.571          457
11   7.5    5126    14186  0.525          471
18   7.0    4716     5915  0.724          865
36   5.0    4045    17782  0.566          640
39   7.0    4345     3905  0.672          968

In [8]:
petrcons_out.shape

(5, 5)

# Question 3 - Independent variables and collinearity 
Which attributes seems to have stronger association with the dependent variable consumption?

In [9]:
petrcons_noout.isna()

      tax  income  highway     dl  consumption
0   False   False    False  False        False
1   False   False    False  False        False
2   False   False    False  False        False
3   False   False    False  False        False
4   False   False    False  False        False
6   False   False    False  False        False
7   False   False    False  False        False
8   False   False    False  False        False
9   False   False    False  False        False
10  False   False    False  False        False
12  False   False    False  False        False
13  False   False    False  False        False
14  False   False    False  False        False
15  False   False    False  False        False
16  False   False    False  False        False
17  False   False    False  False        False
19  False   False    False  False        False
20  False   False    False  False        False
21  False   False    False  False        False
22  False   False    False  False        False
23  False   False    False  False        False
24  False   False    False  False        False
25  False   False    False  False        False
26  False   False    False  False        False
27  False   False    False  False        False
28  False   False    False  False        False
29  False   False    False  False        False
30  False   False    False  False        False
31  False   False    False  False        False
32  False   False    False  False        False
33  False   False    False  False        False
34  False   False    False  False        False
35  False   False    False  False        False
37  False   False    False  False        False
38  False   False    False  False        False
40  False   False    False  False        False
41  False   False    False  False        False
42  False   False    False  False        False
43  False   False    False  False        False
44  False   False    False  False        False
45  False   False    False  False        False
46  False   False    False  False        False
47  False   False    False  False        False

In [10]:
petrcons_noout.corr()

                  tax    income   highway        dl  consumption
tax          1.000000 -0.109537 -0.390602 -0.314702    -0.446116
income      -0.109537  1.000000  0.051169  0.150689    -0.347326
highway     -0.390602  0.051169  1.000000 -0.016193     0.034309
dl          -0.314702  0.150689 -0.016193  1.000000     0.611788
consumption -0.446116 -0.347326  0.034309  0.611788     1.000000

### Observing the above correlation values between all the variables, we can see that there is stronger association between the number of drivers and consumption. And comparatively tax has an association in a negative way. 
Insights :
As tax increases the consumption decreases.
As number of drivers is more consumption is more

# Question 4 - Transform the dataset 
Divide the data into feature(X) and target(Y) sets.

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
X = petrcons_noout.drop(['consumption', 'income', 'highway'], axis=1)

In [16]:
Y = petrcons_noout[['consumption']]

# Question 5 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=10)

In [19]:
print(X_train.shape)
print(X_test.shape)

(34, 2)
(9, 2)

# Question 6 - Build Model 
Estimate the coefficients for each input feature. Construct and display a dataframe with coefficients and X.columns as columns

In [20]:
linreg1 = LinearRegression()
linreg1.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, linreg1.coef_[0][idx]))

The coefficient for tax is -26.1990272203
The coefficient for dl is 942.192126304

In [22]:
coeff = {'tax': [-26.2], 'dl': [942.2]}
coeff_df = pd.DataFrame.from_dict(coeff)
coeff_df

      dl   tax
0  942.2 -26.2

# R-Square

# Question 7 - Evaluate the model 
Calculate the accuracy score for the above model.

In [23]:
linreg1.score(X_train, Y_train)

0.4093130960464393

In [24]:
linreg1.score(X_test, Y_test)

0.6353615496819159

# Question 8: Repeat the same Multi linear regression modelling by adding both Income and Highway features
Find R2

In [ ]:
X = petrcons_noout.drop('consumption', axis = 1)
Y = petrcons_noout[['consumption']]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=10)

In [25]:
print(X_train.shape)
print(X_test.shape)

(34, 2)
(9, 2)

In [26]:
linreg2 = LinearRegression()
linreg2.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [27]:
linreg2.score(X_train, Y_train)

0.4093130960464393

In [28]:
linreg2.score(X_test, Y_test)

0.6353615496819159

# Question 9: Print the coefficients of the multilinear regression model

In [29]:
for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, linreg2.coef_[0][idx]))

The coefficient for tax is -26.1990272203
The coefficient for dl is 942.192126304

In [30]:
coeff = {'tax': [-26.2], 'dl': [942.2], 'income': [-0.0626], 'highway': [-0.00302]}
coeff_df = pd.DataFrame.from_dict(coeff)
coeff_df

      dl  highway  income   tax
0  942.2 -0.00302 -0.0626 -26.2

# Question 10 
In one or two sentences give reasoning on R-Square on the basis of above findings
Answer

### *R squared value increase if we increase the number of independent variables to our analysis

R^2 indicates how much of the variation of the target variable is being explained by the input variables. 

As the number of variables used in model building increases, irrespective of weakly correlated features, the R^2 value increases which inturn helps in buliding more accurate models.