# Transfer Learning CIFAR10

* Train a simple convnet on the CIFAR dataset the first 5 output classes [0..4].
* Freeze convolutional layers and fine-tune dense layers for the last 5 ouput classes [5..9].

### 1. Import CIFAR10 data and create 2 datasets with one dataset having classes from 0 to 4 and other having classes from 5 to 9

In [1]:
from keras.datasets import cifar10
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Conv2D, MaxPooling2D, GlobalAveragePooling2D, Dropout
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

Using TensorFlow backend.

In [2]:
df_cifar10 = cifar10.load_data()

In [3]:
(train_df), (test_df) = cifar10.load_data()

In [4]:
x_train_04 = []
x_train_59 = []
y_train_04 = []
y_train_59 = []

for idx, item in enumerate(train_df[1]):
    if item[0] in [0,1,2,3,4]:
        x_train_04.append(train_df[0][idx])
        y_train_04.append(item[0])
    elif item[0] in [5,6,7,8,9]:
        x_train_59.append(train_df[0][idx])
        y_train_59.append(item[0])
x_train_04 = np.array(x_train_04)
x_train_59 = np.array(x_train_59)

In [5]:
x_test_04 = []
x_test_59 = []
y_test_04 = []
y_test_59 = []

for idx, item in enumerate(test_df[1]):
    if item[0] in [0,1,2,3,4]:
        x_test_04.append(test_df[0][idx])
        y_test_04.append(item[0])
    elif item[0] in [5,6,7,8,9]:
        x_test_59.append(test_df[0][idx])
        y_test_59.append(item[0])
x_test_04 = np.array(x_test_04)
x_test_59 = np.array(x_test_59)

### 2. Use One-hot encoding to divide y_train and y_test into required no of output classes

In [8]:
y_train_04

[4,
 1,
 1,
 2,
 3,
 4,
 2,
 3,
 2,
 4,
 3,
 2,
 3,
 4,
 0,
 0,
 1,
 3,
 4,
 0,
 3,
 3,
 3,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 4,
 3,
 1,
 1,
 2,
 1,
 1,
 4,
 3,
 1,
 0,
 3,
 1,
 3,
 4,
 4,
 4,
 2,
 3,
 0,
 1,
 1,
 1,
 4,
 1,
 3,
 1,
 2,
 1,
 0,
 0,
 1,
 2,
 2,
 2,
 1,
 0,
 4,
 1,
 1,
 1,
 2,
 1,
 3,
 3,
 2,
 4,
 4,
 3,
 4,
 4,
 3,
 1,
 4,
 0,
 1,
 3,
 2,
 3,
 4,
 1,
 0,
 4,
 1,
 0,
 0,
 2,
 2,
 3,
 0,
 1,
 3,
 1,
 3,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 3,
 0,
 1,
 1,
 3,
 4,
 1,
 3,
 3,
 4,
 1,
 1,
 3,
 1,
 1,
 4,
 0,
 3,
 4,
 2,
 4,
 1,
 0,
 0,
 2,
 1,
 2,
 0,
 3,
 2,
 0,
 4,
 4,
 2,
 1,
 1,
 2,
 1,
 0,
 4,
 1,
 1,
 3,
 3,
 0,
 1,
 1,
 1,
 3,
 0,
 3,
 3,
 2,
 4,
 0,
 3,
 4,
 0,
 4,
 4,
 0,
 0,
 0,
 1,
 2,
 2,
 4,
 1,
 3,
 3,
 0,
 4,
 0,
 1,
 0,
 3,
 4,
 4,
 2,
 3,
 1,
 4,
 0,
 1,
 3,
 1,
 4,
 4,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 4,
 0,
 3,
 0,
 4,
 2,
 2,
 2,
 1,
 4,
 1,
 4,
 4,
 0,
 0,
 3,
 3,
 4,
 0,
 4,
 0,
 1,
 0,
 0,
 4,
 1,
 2,
 1,
 0,
 0,
 2,
 3,
 4,
 3,
 0,
 1,
 2,
 4,
 1,
 4,
 4,
 1,
 3,
 0,
 1,
 2,
 0,
 4,
 1,
 2,
 2,
 3,
 4,
 4,
 2,
 1,
 4,
 0,
 4,
 2,
 1,
 2,
 2,
 2,
 4,
 2,
 1,
 3,
 4,
 3,
 0,
 0,
 2,
 2,
 2,
 1,
 4,
 0,
 1,
 1,
 4,
 1,
 1,
 4,
 3,
 2,
 1,
 1,
 3,
 0,
 1,
 0,
 3,
 0,
 0,
 1,
 0,
 0,
 4,
 1,
 3,
 4,
 4,
 0,
 0,
 3,
 2,
 4,
 0,
 3,
 3,
 4,
 1,
 2,
 2,
 2,
 0,
 0,
 4,
 4,
 0,
 4,
 4,
 2,
 4,
 1,
 4,
 3,
 3,
 3,
 0,
 2,
 1,
 3,
 4,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 3,
 4,
 0,
 2,
 4,
 4,
 0,
 1,
 3,
 2,
 4,
 3,
 0,
 0,
 0,
 2,
 3,
 2,
 1,
 1,
 0,
 0,
 1,
 0,
 4,
 1,
 4,
 0,
 1,
 3,
 2,
 3,
 2,
 2,
 4,
 0,
 0,
 3,
 2,
 3,
 2,
 3,
 2,
 0,
 2,
 3,
 2,
 2,
 2,
 3,
 3,
 2,
 3,
 2,
 0,
 1,
 4,
 2,
 0,
 1,
 2,
 2,
 2,
 4,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 4,
 3,
 3,
 1,
 2,
 3,
 1,
 4,
 3,
 3,
 2,
 3,
 0,
 4,
 3,
 0,
 0,
 1,
 1,
 4,
 3,
 1,
 3,
 2,
 4,
 2,
 1,
 3,
 0,
 4,
 0,
 0,
 2,
 2,
 0,
 2,
 1,
 3,
 2,
 4,
 0,
 4,
 2,
 4,
 1,
 0,
 4,
 0,
 3,
 1,
 4,
 4,
 1,
 3,
 4,
 3,
 2,
 4,
 1,
 2,
 0,
 4,
 3,
 0,
 2,
 4,
 1,
 1,
 4,
 1,
 4,
 0,
 2,
 0,
 2,
 1,
 3,
 3,
 1,
 3,
 4,
 3,
 2,
 4,
 4,
 1,
 4,
 2,
 2,
 3,
 0,
 4,
 1,
 1,
 4,
 2,
 3,
 1,
 3,
 1,
 0,
 2,
 3,
 0,
 3,
 2,
 1,
 3,
 3,
 3,
 1,
 2,
 2,
 1,
 4,
 3,
 3,
 3,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 3,
 3,
 1,
 3,
 2,
 2,
 3,
 2,
 0,
 3,
 3,
 2,
 0,
 3,
 3,
 3,
 2,
 0,
 2,
 0,
 4,
 0,
 1,
 2,
 0,
 4,
 3,
 1,
 4,
 3,
 2,
 3,
 0,
 0,
 4,
 1,
 0,
 2,
 4,
 2,
 0,
 0,
 0,
 2,
 0,
 3,
 3,
 4,
 0,
 2,
 3,
 2,
 0,
 4,
 0,
 0,
 2,
 4,
 4,
 0,
 0,
 4,
 1,
 1,
 0,
 0,
 1,
 3,
 4,
 4,
 3,
 2,
 0,
 4,
 3,
 0,
 2,
 4,
 4,
 0,
 3,
 0,
 3,
 2,
 4,
 2,
 3,
 1,
 2,
 2,
 1,
 4,
 2,
 0,
 4,
 4,
 1,
 4,
 1,
 1,
 0,
 2,
 4,
 4,
 4,
 4,
 4,
 3,
 0,
 1,
 3,
 4,
 2,
 0,
 4,
 2,
 0,
 0,
 4,
 0,
 3,
 4,
 4,
 4,
 4,
 3,
 2,
 1,
 3,
 2,
 3,
 1,
 4,
 3,
 2,
 4,
 0,
 1,
 1,
 0,
 0,
 4,
 4,
 4,
 1,
 1,
 4,
 0,
 3,
 4,
 4,
 1,
 2,
 1,
 1,
 2,
 1,
 0,
 4,
 3,
 3,
 0,
 2,
 0,
 0,
 4,
 2,
 2,
 2,
 2,
 1,
 1,
 3,
 4,
 4,
 0,
 1,
 4,
 2,
 3,
 0,
 1,
 0,
 0,
 4,
 0,
 2,
 1,
 0,
 2,
 0,
 3,
 4,
 2,
 0,
 1,
 3,
 2,
 3,
 2,
 2,
 1,
 0,
 4,
 3,
 3,
 0,
 4,
 1,
 0,
 2,
 0,
 4,
 2,
 3,
 2,
 2,
 2,
 3,
 4,
 3,
 0,
 1,
 2,
 3,
 1,
 1,
 1,
 3,
 3,
 3,
 3,
 4,
 1,
 0,
 1,
 2,
 3,
 4,
 1,
 1,
 3,
 1,
 4,
 2,
 1,
 1,
 0,
 0,
 0,
 4,
 0,
 1,
 0,
 3,
 1,
 1,
 2,
 0,
 3,
 2,
 1,
 2,
 4,
 2,
 1,
 4,
 4,
 3,
 0,
 0,
 4,
 1,
 0,
 4,
 4,
 2,
 4,
 1,
 4,
 3,
 4,
 3,
 4,
 1,
 4,
 0,
 4,
 4,
 0,
 2,
 0,
 2,
 2,
 2,
 1,
 0,
 3,
 1,
 4,
 2,
 1,
 4,
 3,
 3,
 0,
 3,
 4,
 2,
 1,
 0,
 0,
 3,
 0,
 4,
 0,
 3,
 1,
 2,
 4,
 1,
 3,
 1,
 3,
 4,
 0,
 2,
 4,
 1,
 2,
 2,
 0,
 2,
 0,
 0,
 4,
 2,
 3,
 3,
 2,
 3,
 1,
 4,
 3,
 2,
 2,
 2,
 1,
 4,
 2,
 2,
 4,
 2,
 1,
 2,
 3,
 4,
 0,
 2,
 4,
 4,
 3,
 0,
 4,
 2,
 1,
 3,
 0,
 4,
 2,
 0,
 4,
 3,
 2,
 3,
 3,
 2,
 3,
 3,
 2,
 4,
 2,
 4,
 3,
 2,
 4,
 3,
 4,
 2,
 1,
 4,
 0,
 0,
 0,
 3,
 4,
 4,
 4,
 2,
 2,
 0,
 0,
 3,
 4,
 3,
 3,
 3,
 1,
 4,
 4,
 1,
 4,
 0,
 3,
 2,
 3,
 2,
 4,
 4,
 0,
 2,
 2,
 4,
 0,
 2,
 4,
 3,
 4,
 1,
 0,
 3,
 4,
 4,
 0,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 2,
 1,
 4,
 0,
 0,
 2,
 4,
 1,
 ...]

In [6]:
y_train_04_one_hot = pd.get_dummies(np.array(y_train_04))
y_train_59_one_hot = pd.get_dummies(np.array(y_train_59))
y_test_04_one_hot = pd.get_dummies(np.array(y_test_04))
y_test_59_one_hot = pd.get_dummies(np.array(y_test_59))

In [18]:
y_train_04_one_hot.head()

   0  1  2  3  4
0  0  0  0  0  1
1  0  1  0  0  0
2  0  1  0  0  0
3  0  0  1  0  0
4  0  0  0  1  0

### 3. Build a sequential neural network model which can classify the classes 0 to 4 of CIFAR10 dataset with at least 80% accuracy on test data

In [11]:
x_train_04.shape[1:]

(32, 32, 3)

In [12]:
model = Sequential()

model.add(Conv2D(32, (3,3), activation='relu', input_shape= x_train_04.shape[1:]))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Conv2D(32, (3,3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.20))

model.add(Conv2D(64,(3,3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(GlobalAveragePooling2D())


model.add(Dense(128, activation='relu'))
model.add(Dropout(0.20))

model.add(Dense(5, activation='softmax'))

model.summary()

WARNING:tensorflow:From /Users/mac/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Users/mac/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 30, 30, 32)        896
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 15, 15, 32)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 13, 13, 32)        9248
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 6, 6, 32)          0
_________________________________________________________________
dropout_1 (Dropout)          (None, 6, 6, 32)          0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 4, 4, 64)          18496
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 2, 2, 64)          0
_________________________________________________________________
dropout_2 (Dropout)          (None, 2, 2, 64)          0
_________________________________________________________________
global_average_pooling2d_1 ( (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               8320
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 645
=================================================================
Total params: 37,605
Trainable params: 37,605
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
X_train_04_scratch = x_train_04/255
X_test_04_scratch = x_test_04/255

In [15]:
X_train_04_scratch.shape

(25000, 32, 32, 3)

In [16]:
y_train_04_one_hot.shape

(25000, 5)

In [17]:
y_train_04_one_hot

       0  1  2  3  4
0      0  0  0  0  1
1      0  1  0  0  0
2      0  1  0  0  0
3      0  0  1  0  0
4      0  0  0  1  0
5      0  0  0  0  1
6      0  0  1  0  0
7      0  0  0  1  0
8      0  0  1  0  0
9      0  0  0  0  1
10     0  0  0  1  0
11     0  0  1  0  0
12     0  0  0  1  0
13     0  0  0  0  1
14     1  0  0  0  0
15     1  0  0  0  0
16     0  1  0  0  0
17     0  0  0  1  0
18     0  0  0  0  1
19     1  0  0  0  0
20     0  0  0  1  0
21     0  0  0  1  0
22     0  0  0  1  0
23     0  0  1  0  0
24     0  0  1  0  0
25     0  1  0  0  0
26     0  1  0  0  0
27     0  1  0  0  0
28     0  0  1  0  0
29     0  0  1  0  0
...   .. .. .. .. ..
24970  0  0  0  0  1
24971  0  0  0  0  1
24972  0  0  0  0  1
24973  0  0  0  0  1
24974  0  0  0  0  1
24975  0  0  1  0  0
24976  0  0  0  1  0
24977  0  1  0  0  0
24978  0  0  1  0  0
24979  0  0  0  1  0
24980  0  0  1  0  0
24981  0  1  0  0  0
24982  0  0  0  0  1
24983  0  0  0  1  0
24984  0  1  0  0  0
24985  0  0  0  1  0
24986  0  0  0  0  1
24987  0  0  0  1  0
24988  0  0  0  1  0
24989  0  0  0  0  1
24990  0  0  1  0  0
24991  0  1  0  0  0
24992  0  0  0  0  1
24993  0  0  1  0  0
24994  1  0  0  0  0
24995  0  1  0  0  0
24996  1  0  0  0  0
24997  0  0  1  0  0
24998  0  1  0  0  0
24999  0  1  0  0  0

[25000 rows x 5 columns]

In [11]:
#Fitting the model on the train data and labels.
model.fit(X_train_04_scratch, y_train_04_one_hot, batch_size=32, epochs=50, 
          verbose=1, validation_split=0.2, shuffle=True)

WARNING:tensorflow:From /Users/mac/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 20000 samples, validate on 5000 samples
Epoch 1/50
20000/20000 [==============================] - 11s 563us/step - loss: 1.2531 - acc: 0.4357 - val_loss: 1.0622 - val_acc: 0.5590
Epoch 2/50
20000/20000 [==============================] - 12s 601us/step - loss: 1.0363 - acc: 0.5672 - val_loss: 0.9432 - val_acc: 0.6258
Epoch 3/50
20000/20000 [==============================] - 12s 608us/step - loss: 0.9517 - acc: 0.6137 - val_loss: 0.8908 - val_acc: 0.6482
Epoch 4/50
20000/20000 [==============================] - 12s 601us/step - loss: 0.8901 - acc: 0.6439 - val_loss: 0.8314 - val_acc: 0.6616
Epoch 5/50
20000/20000 [==============================] - 12s 611us/step - loss: 0.8357 - acc: 0.6713 - val_loss: 0.7891 - val_acc: 0.6940
Epoch 6/50
20000/20000 [==============================] - 12s 618us/step - loss: 0.7964 - acc: 0.6880 - val_loss: 0.7305 - val_acc: 0.7234
Epoch 7/50
20000/20000 [==============================] - 13s 650us/step - loss: 0.7523 - acc: 0.7106 - val_loss: 0.7493 - val_acc: 0.7222
Epoch 8/50
20000/20000 [==============================] - 13s 625us/step - loss: 0.7293 - acc: 0.7196 - val_loss: 0.7225 - val_acc: 0.7278
Epoch 9/50
20000/20000 [==============================] - 13s 627us/step - loss: 0.7039 - acc: 0.7323 - val_loss: 0.6602 - val_acc: 0.7528
Epoch 10/50
20000/20000 [==============================] - 13s 625us/step - loss: 0.6883 - acc: 0.7379 - val_loss: 0.6500 - val_acc: 0.7576
Epoch 11/50
20000/20000 [==============================] - 13s 629us/step - loss: 0.6642 - acc: 0.7463 - val_loss: 0.6185 - val_acc: 0.7628
Epoch 12/50
20000/20000 [==============================] - 13s 632us/step - loss: 0.6475 - acc: 0.7528 - val_loss: 0.6132 - val_acc: 0.7710
Epoch 13/50
20000/20000 [==============================] - 13s 644us/step - loss: 0.6344 - acc: 0.7571 - val_loss: 0.6023 - val_acc: 0.7692
Epoch 14/50
20000/20000 [==============================] - 13s 634us/step - loss: 0.6265 - acc: 0.7615 - val_loss: 0.5950 - val_acc: 0.7760
Epoch 15/50
20000/20000 [==============================] - 13s 659us/step - loss: 0.6030 - acc: 0.7699 - val_loss: 0.5874 - val_acc: 0.7852
Epoch 16/50
20000/20000 [==============================] - 13s 634us/step - loss: 0.5940 - acc: 0.7758 - val_loss: 0.5943 - val_acc: 0.7816
Epoch 17/50
20000/20000 [==============================] - 13s 634us/step - loss: 0.5819 - acc: 0.7779 - val_loss: 0.5622 - val_acc: 0.7894
Epoch 18/50
20000/20000 [==============================] - 13s 630us/step - loss: 0.5746 - acc: 0.7833 - val_loss: 0.6147 - val_acc: 0.7672
Epoch 19/50
20000/20000 [==============================] - 13s 636us/step - loss: 0.5680 - acc: 0.7867 - val_loss: 0.5762 - val_acc: 0.7834
Epoch 20/50
20000/20000 [==============================] - 13s 642us/step - loss: 0.5533 - acc: 0.7908 - val_loss: 0.5396 - val_acc: 0.7990
Epoch 21/50
20000/20000 [==============================] - 13s 629us/step - loss: 0.5519 - acc: 0.7890 - val_loss: 0.5584 - val_acc: 0.7936
Epoch 22/50
20000/20000 [==============================] - 13s 636us/step - loss: 0.5402 - acc: 0.7948 - val_loss: 0.5604 - val_acc: 0.7916
Epoch 23/50
20000/20000 [==============================] - 13s 638us/step - loss: 0.5311 - acc: 0.7984 - val_loss: 0.5376 - val_acc: 0.8058
Epoch 24/50
20000/20000 [==============================] - 13s 634us/step - loss: 0.5278 - acc: 0.7991 - val_loss: 0.5477 - val_acc: 0.7984
Epoch 25/50
20000/20000 [==============================] - 13s 633us/step - loss: 0.5149 - acc: 0.8042 - val_loss: 0.5363 - val_acc: 0.7996
Epoch 26/50
20000/20000 [==============================] - 13s 634us/step - loss: 0.5129 - acc: 0.8057 - val_loss: 0.5297 - val_acc: 0.8006
Epoch 27/50
20000/20000 [==============================] - 13s 644us/step - loss: 0.5030 - acc: 0.8099 - val_loss: 0.5427 - val_acc: 0.8028
Epoch 28/50
20000/20000 [==============================] - 13s 640us/step - loss: 0.4954 - acc: 0.8135 - val_loss: 0.5402 - val_acc: 0.7992
Epoch 29/50
20000/20000 [==============================] - 13s 637us/step - loss: 0.4917 - acc: 0.8168 - val_loss: 0.5202 - val_acc: 0.8100
Epoch 30/50
20000/20000 [==============================] - 13s 654us/step - loss: 0.4919 - acc: 0.8167 - val_loss: 0.5171 - val_acc: 0.8096
Epoch 31/50
20000/20000 [==============================] - 13s 636us/step - loss: 0.4838 - acc: 0.8170 - val_loss: 0.5143 - val_acc: 0.8082
Epoch 32/50
20000/20000 [==============================] - 13s 638us/step - loss: 0.4809 - acc: 0.8194 - val_loss: 0.5242 - val_acc: 0.8060
Epoch 33/50
20000/20000 [==============================] - 13s 642us/step - loss: 0.4749 - acc: 0.8206 - val_loss: 0.5225 - val_acc: 0.8106
Epoch 34/50
20000/20000 [==============================] - 13s 642us/step - loss: 0.4771 - acc: 0.8185 - val_loss: 0.5141 - val_acc: 0.8110
Epoch 35/50
20000/20000 [==============================] - 13s 642us/step - loss: 0.4658 - acc: 0.8232 - val_loss: 0.5327 - val_acc: 0.8010
Epoch 36/50
20000/20000 [==============================] - 13s 652us/step - loss: 0.4578 - acc: 0.8261 - val_loss: 0.5203 - val_acc: 0.8078
Epoch 37/50
20000/20000 [==============================] - 13s 645us/step - loss: 0.4564 - acc: 0.8269 - val_loss: 0.5244 - val_acc: 0.8114
Epoch 38/50
20000/20000 [==============================] - 13s 646us/step - loss: 0.4596 - acc: 0.8282 - val_loss: 0.5344 - val_acc: 0.8032
Epoch 39/50
20000/20000 [==============================] - 14s 679us/step - loss: 0.4484 - acc: 0.8314 - val_loss: 0.5168 - val_acc: 0.8122
Epoch 40/50
20000/20000 [==============================] - 14s 688us/step - loss: 0.4402 - acc: 0.8357 - val_loss: 0.4987 - val_acc: 0.8194
Epoch 41/50
20000/20000 [==============================] - 13s 641us/step - loss: 0.4361 - acc: 0.8356 - val_loss: 0.5180 - val_acc: 0.8028
Epoch 42/50
20000/20000 [==============================] - 13s 651us/step - loss: 0.4464 - acc: 0.8298 - val_loss: 0.5324 - val_acc: 0.7992
Epoch 43/50
20000/20000 [==============================] - 13s 646us/step - loss: 0.4311 - acc: 0.8333 - val_loss: 0.5206 - val_acc: 0.8160
Epoch 44/50
20000/20000 [==============================] - 13s 660us/step - loss: 0.4300 - acc: 0.8382 - val_loss: 0.5237 - val_acc: 0.8094
Epoch 45/50
20000/20000 [==============================] - 13s 654us/step - loss: 0.4248 - acc: 0.8377 - val_loss: 0.5080 - val_acc: 0.8178
Epoch 46/50
20000/20000 [==============================] - 13s 658us/step - loss: 0.4273 - acc: 0.8375 - val_loss: 0.5042 - val_acc: 0.8202
Epoch 47/50
20000/20000 [==============================] - 13s 657us/step - loss: 0.4195 - acc: 0.8414 - val_loss: 0.5029 - val_acc: 0.8172
Epoch 48/50
20000/20000 [==============================] - 13s 648us/step - loss: 0.4263 - acc: 0.8412 - val_loss: 0.5220 - val_acc: 0.8118
Epoch 49/50
20000/20000 [==============================] - 13s 664us/step - loss: 0.4196 - acc: 0.8383 - val_loss: 0.5127 - val_acc: 0.8142
Epoch 50/50
20000/20000 [==============================] - 13s 656us/step - loss: 0.4073 - acc: 0.8465 - val_loss: 0.5004 - val_acc: 0.8200

In [12]:
#Evaluate the model on the test data
score = model.evaluate(X_test_04_scratch, y_test_04_one_hot)

#Accuracy on test data
print('Accuracy on the Test Images: ', score[1])

5000/5000 [==============================] - 1s 162us/step
Accuracy on the Test Images:  0.8068

In [22]:
X_train_59_scratch = x_train_59/255
X_test_59_scratch = x_test_59/255

### 4. In the model which was built above (for classification of classes 0-4 in CIFAR10), make only the dense layers to be trainable and conv layers to be non-trainable

In [26]:
transf_model = model

In [29]:
initial_weights = model.get_weights()

In [30]:
transf_model.set_weights(initial_weights)

In [33]:
for layer in transf_model.layers[:-3]:
    layer.trainable = False

In [34]:
for layer in transf_model.layers:
    print(layer, layer.trainable)

<keras.layers.convolutional.Conv2D object at 0xb275a6da0> False
<keras.layers.pooling.MaxPooling2D object at 0xb275a6f60> False
<keras.layers.convolutional.Conv2D object at 0xb3433b3c8> False
<keras.layers.pooling.MaxPooling2D object at 0xb2758acc0> False
<keras.layers.core.Dropout object at 0xb3f455f28> False
<keras.layers.convolutional.Conv2D object at 0xb3f455eb8> False
<keras.layers.pooling.MaxPooling2D object at 0xb3f455ef0> False
<keras.layers.core.Dropout object at 0xb3f37bbe0> False
<keras.layers.pooling.GlobalAveragePooling2D object at 0xb3f37bd68> False
<keras.layers.core.Dense object at 0xb3f3aa6d8> True
<keras.layers.core.Dropout object at 0xb3f48d550> True
<keras.layers.core.Dense object at 0xb3f4f1e10> True

### 5. Utilize the the model trained on CIFAR 10 (classes 0 to 4) to classify the classes 5 to 9 of CIFAR 10  (Use Transfer Learning) <br>
Achieve an accuracy of more than 85% on test data

In [35]:
transf_model.fit(X_train_59_scratch, y_train_59_one_hot, batch_size=32, epochs=50, 
          verbose=1, validation_split=0.2, shuffle=True)

Train on 20000 samples, validate on 5000 samples
Epoch 1/50
  256/20000 [..............................] - ETA: 10s - loss: 4.3165 - acc: 0.1133

/Users/mac/anaconda3/lib/python3.7/site-packages/keras/engine/training.py:490: UserWarning: Discrepancy between trainable weights and collected trainable weights, did you set `model.trainable` without calling `model.compile` after ?
  'Discrepancy between trainable weights and collected trainable'

20000/20000 [==============================] - 12s 581us/step - loss: 1.0759 - acc: 0.5846 - val_loss: 0.7515 - val_acc: 0.7244
Epoch 2/50
20000/20000 [==============================] - 12s 608us/step - loss: 0.7712 - acc: 0.7079 - val_loss: 0.6081 - val_acc: 0.7746
Epoch 3/50
20000/20000 [==============================] - 13s 626us/step - loss: 0.6703 - acc: 0.7484 - val_loss: 0.5637 - val_acc: 0.7822
Epoch 4/50
20000/20000 [==============================] - 14s 680us/step - loss: 0.6076 - acc: 0.7727 - val_loss: 0.5138 - val_acc: 0.8178
Epoch 5/50
20000/20000 [==============================] - 13s 654us/step - loss: 0.5731 - acc: 0.7904 - val_loss: 0.4956 - val_acc: 0.8170
Epoch 6/50
20000/20000 [==============================] - 13s 648us/step - loss: 0.5372 - acc: 0.8045 - val_loss: 0.4745 - val_acc: 0.8218
Epoch 7/50
20000/20000 [==============================] - 13s 651us/step - loss: 0.5092 - acc: 0.8118 - val_loss: 0.4434 - val_acc: 0.8332
Epoch 8/50
20000/20000 [==============================] - 13s 651us/step - loss: 0.4827 - acc: 0.8252 - val_loss: 0.4489 - val_acc: 0.8342
Epoch 9/50
20000/20000 [==============================] - 13s 636us/step - loss: 0.4680 - acc: 0.8306 - val_loss: 0.4145 - val_acc: 0.8482
Epoch 10/50
20000/20000 [==============================] - 13s 655us/step - loss: 0.4524 - acc: 0.8337 - val_loss: 0.4065 - val_acc: 0.8506
Epoch 11/50
20000/20000 [==============================] - 13s 643us/step - loss: 0.4316 - acc: 0.8391 - val_loss: 0.3946 - val_acc: 0.8598
Epoch 12/50
20000/20000 [==============================] - 13s 632us/step - loss: 0.4196 - acc: 0.8449 - val_loss: 0.3872 - val_acc: 0.8556
Epoch 13/50
20000/20000 [==============================] - 13s 654us/step - loss: 0.3974 - acc: 0.8509 - val_loss: 0.3872 - val_acc: 0.8568
Epoch 14/50
20000/20000 [==============================] - 13s 637us/step - loss: 0.3942 - acc: 0.8562 - val_loss: 0.3720 - val_acc: 0.8606
Epoch 15/50
20000/20000 [==============================] - 13s 653us/step - loss: 0.3786 - acc: 0.8606 - val_loss: 0.3558 - val_acc: 0.8668
Epoch 16/50
20000/20000 [==============================] - 13s 636us/step - loss: 0.3742 - acc: 0.8638 - val_loss: 0.3686 - val_acc: 0.8692
Epoch 17/50
20000/20000 [==============================] - 13s 657us/step - loss: 0.3709 - acc: 0.8632 - val_loss: 0.3874 - val_acc: 0.8556
Epoch 18/50
20000/20000 [==============================] - 13s 645us/step - loss: 0.3538 - acc: 0.8687 - val_loss: 0.3672 - val_acc: 0.8596
Epoch 19/50
20000/20000 [==============================] - 13s 673us/step - loss: 0.3484 - acc: 0.8722 - val_loss: 0.3914 - val_acc: 0.8610
Epoch 20/50
20000/20000 [==============================] - 14s 703us/step - loss: 0.3409 - acc: 0.8746 - val_loss: 0.3515 - val_acc: 0.8710
Epoch 21/50
20000/20000 [==============================] - 13s 671us/step - loss: 0.3363 - acc: 0.8767 - val_loss: 0.3515 - val_acc: 0.8686
Epoch 22/50
20000/20000 [==============================] - 13s 665us/step - loss: 0.3305 - acc: 0.8785 - val_loss: 0.3573 - val_acc: 0.8708
Epoch 23/50
20000/20000 [==============================] - 13s 665us/step - loss: 0.3250 - acc: 0.8819 - val_loss: 0.3394 - val_acc: 0.8746
Epoch 24/50
20000/20000 [==============================] - 13s 663us/step - loss: 0.3215 - acc: 0.8807 - val_loss: 0.3513 - val_acc: 0.8734
Epoch 25/50
20000/20000 [==============================] - 13s 663us/step - loss: 0.3123 - acc: 0.8839 - val_loss: 0.3387 - val_acc: 0.8772
Epoch 26/50
20000/20000 [==============================] - 14s 684us/step - loss: 0.2994 - acc: 0.8890 - val_loss: 0.3366 - val_acc: 0.8812
Epoch 27/50
20000/20000 [==============================] - 14s 694us/step - loss: 0.3055 - acc: 0.8871 - val_loss: 0.3385 - val_acc: 0.8762
Epoch 28/50
20000/20000 [==============================] - 13s 673us/step - loss: 0.3009 - acc: 0.8896 - val_loss: 0.3737 - val_acc: 0.8590
Epoch 29/50
20000/20000 [==============================] - 14s 695us/step - loss: 0.2938 - acc: 0.8916 - val_loss: 0.3397 - val_acc: 0.8784
Epoch 30/50
20000/20000 [==============================] - 14s 711us/step - loss: 0.2960 - acc: 0.8909 - val_loss: 0.3288 - val_acc: 0.8866
Epoch 31/50
20000/20000 [==============================] - 16s 799us/step - loss: 0.2849 - acc: 0.8965 - val_loss: 0.3384 - val_acc: 0.8798
Epoch 32/50
20000/20000 [==============================] - 16s 812us/step - loss: 0.2810 - acc: 0.8976 - val_loss: 0.3323 - val_acc: 0.8774
Epoch 33/50
20000/20000 [==============================] - 15s 727us/step - loss: 0.2781 - acc: 0.8982 - val_loss: 0.3586 - val_acc: 0.8708
Epoch 34/50
20000/20000 [==============================] - 15s 762us/step - loss: 0.2783 - acc: 0.8976 - val_loss: 0.3244 - val_acc: 0.8800
Epoch 35/50
20000/20000 [==============================] - 15s 737us/step - loss: 0.2719 - acc: 0.8996 - val_loss: 0.3293 - val_acc: 0.8802
Epoch 36/50
20000/20000 [==============================] - 15s 759us/step - loss: 0.2697 - acc: 0.8996 - val_loss: 0.3414 - val_acc: 0.8816
Epoch 37/50
20000/20000 [==============================] - 16s 821us/step - loss: 0.2713 - acc: 0.9020 - val_loss: 0.3407 - val_acc: 0.8734
Epoch 38/50
20000/20000 [==============================] - 15s 731us/step - loss: 0.2634 - acc: 0.9051 - val_loss: 0.3617 - val_acc: 0.8692
Epoch 39/50
20000/20000 [==============================] - 14s 723us/step - loss: 0.2583 - acc: 0.9049 - val_loss: 0.3102 - val_acc: 0.8862
Epoch 40/50
20000/20000 [==============================] - 15s 727us/step - loss: 0.2589 - acc: 0.9043 - val_loss: 0.3341 - val_acc: 0.8800
Epoch 41/50
20000/20000 [==============================] - 14s 719us/step - loss: 0.2547 - acc: 0.9071 - val_loss: 0.3503 - val_acc: 0.8778
Epoch 42/50
20000/20000 [==============================] - 14s 712us/step - loss: 0.2570 - acc: 0.9055 - val_loss: 0.3487 - val_acc: 0.8756
Epoch 43/50
20000/20000 [==============================] - 14s 717us/step - loss: 0.2522 - acc: 0.9057 - val_loss: 0.3387 - val_acc: 0.8842
Epoch 44/50
20000/20000 [==============================] - 14s 711us/step - loss: 0.2439 - acc: 0.9130 - val_loss: 0.3330 - val_acc: 0.8786
Epoch 45/50
20000/20000 [==============================] - 15s 730us/step - loss: 0.2476 - acc: 0.9079 - val_loss: 0.3105 - val_acc: 0.8890
Epoch 46/50
20000/20000 [==============================] - 14s 714us/step - loss: 0.2449 - acc: 0.9085 - val_loss: 0.3491 - val_acc: 0.8744
Epoch 47/50
20000/20000 [==============================] - 16s 778us/step - loss: 0.2428 - acc: 0.9130 - val_loss: 0.3326 - val_acc: 0.8812
Epoch 48/50
20000/20000 [==============================] - 18s 913us/step - loss: 0.2491 - acc: 0.9071 - val_loss: 0.3282 - val_acc: 0.8836
Epoch 49/50
20000/20000 [==============================] - 15s 762us/step - loss: 0.2335 - acc: 0.9140 - val_loss: 0.3336 - val_acc: 0.8784
Epoch 50/50
20000/20000 [==============================] - 15s 743us/step - loss: 0.2339 - acc: 0.9157 - val_loss: 0.3071 - val_acc: 0.8924

In [37]:
#Evaluate the model on the test data
score = transf_model.evaluate(X_test_59_scratch, y_test_59_one_hot)

#Accuracy on test data
print('Accuracy on the Test Images: ', score[1])

5000/5000 [==============================] - 1s 151us/step
Accuracy on the Test Images:  0.8852

# Text classification using TF-IDF

### 6. Load the dataset from sklearn.datasets

In [132]:
from sklearn.datasets import fetch_20newsgroups
import nltk
import re
from nltk.stem.snowball import SnowballStemmer

In [127]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/mac/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [133]:
stemmer = SnowballStemmer("english")

In [39]:
categories = ['alt.atheism', 'soc.religion.christian', 'comp.graphics', 'sci.med']

### 7. Training data

In [40]:
twenty_train = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)

### 8. Test data

In [41]:
twenty_test = fetch_20newsgroups(subset='test', categories=categories, shuffle=True, random_state=42)

###  a.  You can access the values for the target variable using .target attribute 
###  b. You can access the name of the class in the target variable with .target_names

In [42]:
twenty_train.target

array([1, 1, 3, ..., 2, 2, 2])

In [43]:
twenty_train.target_names

['alt.atheism', 'comp.graphics', 'sci.med', 'soc.religion.christian']

In [44]:
twenty_train.data[0:5]

['From: sd345@city.ac.uk (Michael Collier)\nSubject: Converting images to HP LaserJet III?\nNntp-Posting-Host: hampton\nOrganization: The City University\nLines: 14\n\nDoes anyone know of a good way (standard PC application/PD utility) to\nconvert tif/img/tga files into LaserJet III format.  We would also like to\ndo the same, converting to HPGL (HP plotter) files.\n\nPlease email any response.\n\nIs this the correct group?\n\nThanks in advance.  Michael.\n-- \nMichael Collier (Programmer)                 The Computer Unit,\nEmail: M.P.Collier@uk.ac.city                The City University,\nTel: 071 477-8000 x3769                      London,\nFax: 071 477-8565                            EC1V 0HB.\n',
 "From: ani@ms.uky.edu (Aniruddha B. Deglurkar)\nSubject: help: Splitting a trimming region along a mesh \nOrganization: University Of Kentucky, Dept. of Math Sciences\nLines: 28\n\n\n\n\tHi,\n\n\tI have a problem, I hope some of the 'gurus' can help me solve.\n\n\tBackground of the problem:\n\tI have a rectangular mesh in the uv domain, i.e  the mesh is a \n\tmapping of a 3d Bezier patch into 2d. The area in this domain\n\twhich is inside a trimming loop had to be rendered. The trimming\n\tloop is a set of 2d Bezier curve segments.\n\tFor the sake of notation: the mesh is made up of cells.\n\n\tMy problem is this :\n\tThe trimming area has to be split up into individual smaller\n\tcells bounded by the trimming curve segments. If a cell\n\tis wholly inside the area...then it is output as a whole ,\n\telse it is trivially rejected. \n\n\tDoes any body know how thiss can be done, or is there any algo. \n\tsomewhere for doing this.\n\n\tAny help would be appreciated.\n\n\tThanks, \n\tAni.\n-- \nTo get irritated is human, to stay cool, divine.\n",
 "From: djohnson@cs.ucsd.edu (Darin Johnson)\nSubject: Re: harrassed at work, could use some prayers\nOrganization: =CSE Dept., U.C. San Diego\nLines: 63\n\n(Well, I'll email also, but this may apply to other people, so\nI'll post also.)\n\n>I've been working at this company for eight years in various\n>engineering jobs.  I'm female.  Yesterday I counted and realized that\n>on seven different occasions I've been sexually harrassed at this\n>company.\n\n>I dreaded coming back to work today.  What if my boss comes in to ask\n>me some kind of question...\n\nYour boss should be the person bring these problems to.  If he/she\ndoes not seem to take any action, keep going up higher and higher.\nSexual harrassment does not need to be tolerated, and it can be an\nenormous emotional support to discuss this with someone and know that\nthey are trying to do something about it.  If you feel you can not\ndiscuss this with your boss, perhaps your company has a personnel\ndepartment that can work for you while preserving your privacy.  Most\ncompanies will want to deal with this problem because constant anxiety\ndoes seriously affect how effectively employees do their jobs.\n\nIt is unclear from your letter if you have done this or not.  It is\nnot inconceivable that management remains ignorant of employee\nproblems/strife even after eight years (it's a miracle if they do\nnotice).  Perhaps your manager did not bring to the attention of\nhigher ups?  If the company indeed does seem to want to ignore the\nentire problem, there may be a state agency willing to fight with\nyou.  (check with a lawyer, a women's resource center, etc to find out)\n\nYou may also want to discuss this with your paster, priest, husband,\netc.  That is, someone you know will not be judgemental and that is\nsupportive, comforting, etc.  This will bring a lot of healing.\n\n>So I returned at 11:25, only to find that ever single\n>person had already left for lunch.  They left at 11:15 or so.  No one\n>could be bothered to call me at the other building, even though my\n>number was posted.\n\nThis happens to a lot of people.  Honest.  I believe it may seem\nto be due to gross insensitivity because of the feelings you are\ngoing through.  People in offices tend to be more insensitive while\nworking than they normally are (maybe it's the hustle or stress or...)\nI've had this happen to me a lot, often because they didn't realize\nmy car was broken, etc.  Then they will come back and wonder why I\ndidn't want to go (this would tend to make me stop being angry at\nbeing ignored and make me laugh).  Once, we went off without our\nboss, who was paying for the lunch :-)\n\n>For this\n>reason I hope good Mr. Moderator allows me this latest indulgence.\n\nWell, if you can't turn to the computer for support, what would\nwe do?  (signs of the computer age :-)\n\nIn closing, please don't let the hateful actions of a single person\nharm you.  They are doing it because they are still the playground\nbully and enjoy seeing the hurt they cause.  And you should not\naccept the opinions of an imbecile that you are worthless - much\nwiser people hold you in great esteem.\n-- \nDarin Johnson\ndjohnson@ucsd.edu\n  - Luxury!  In MY day, we had to make do with 5 bytes of swap...\n",
 'From: s0612596@let.rug.nl (M.M. Zwart)\nSubject: catholic church poland\nOrganization: Faculteit der Letteren, Rijksuniversiteit Groningen, NL\nLines: 10\n\nHello,\n\nI\'m writing a paper on the role of the catholic church in Poland after 1989. \nCan anyone tell me more about this, or fill me in on recent books/articles(\nin english, german or french). Most important for me is the role of the \nchurch concerning the abortion-law, religious education at schools,\nbirth-control and the relation church-state(government). Thanx,\n\n                                                 Masja,\n"M.M.Zwart"<s0612596@let.rug.nl>\n',
 'From: stanly@grok11.columbiasc.ncr.com (stanly)\nSubject: Re: Elder Brother\nOrganization: NCR Corp., Columbia SC\nLines: 15\n\nIn article <Apr.8.00.57.41.1993.28246@athos.rutgers.edu> REXLEX@fnal.gov writes:\n>In article <Apr.7.01.56.56.1993.22824@athos.rutgers.edu> shrum@hpfcso.fc.hp.com\n>Matt. 22:9-14 \'Go therefore to the main highways, and as many as you find\n>there, invite to the wedding feast.\'...\n\n>hmmmmmm.  Sounds like your theology and Christ\'s are at odds. Which one am I \n>to believe?\n\nIn this parable, Jesus tells the parable of the wedding feast. "The kingdom\nof heaven is like unto a certain king which made a marriage for his son".\nSo the wedding clothes were customary,  and "given" to those who "chose" to\nattend.  This man "refused" to wear the clothes.  The wedding clothes are\nequalivant to the "clothes of righteousness".  When Jesus died for our sins,\nthose "clothes" were then provided.  Like that man, it is our decision to\nput the clothes on.\n']

### 9.  Now with dependent and independent data available for both train and test datasets, using TfidfVectorizer fit and transform the training data and test data and get the tfidf features for both

In [123]:
def tokenize_and_stem(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems

In [213]:
from sklearn.feature_extraction.text import TfidfVectorizer

#define vectorizer parameters
tfidf_vectorizer1 = TfidfVectorizer(tokenizer=tokenize_and_stem, stop_words='english', max_features=980)
tfidf_vectorizer2 = TfidfVectorizer(tokenizer=tokenize_and_stem, stop_words='english', max_features=980)

%time tfidf_train_matrix = tfidf_vectorizer1.fit_transform(twenty_train.data) #fit the vectorizer to synopses
%time tfidf_test_matrix = tfidf_vectorizer2.fit_transform(twenty_test.data) #fit the vectorizer to synopses

print(tfidf_train_matrix.shape)
print(tfidf_test_matrix.shape)

CPU times: user 15.5 s, sys: 16.8 ms, total: 15.5 s
Wall time: 15.6 s
CPU times: user 11.3 s, sys: 8.99 ms, total: 11.3 s
Wall time: 11.3 s
(2257, 980)
(1502, 980)

### 10. Use logisticRegression with tfidf features as input and targets as output and train the model and report the train and test accuracy score

In [222]:
logi_model = LogisticRegression()

In [223]:
logi_model.fit(tfidf_train_matrix, twenty_train.target)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [224]:
logi_model.score(tfidf_train_matrix, twenty_train.target)

0.973859105006646

In [225]:
logi_model.score(tfidf_test_matrix, twenty_test.target)

0.4786950732356858